<!--Double navigation-->
<header>
  <!-- Sidebar navigation -->
  <div id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar">
    <ul class="custom-scrollbar">
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light" style="height:170px !important;">
          <%= link_to (image_tag("https://pre00.deviantart.net/d9e5/th/pre/i/2017/034/0/5/commission__megaman_neo_by_ultimatemaverickx-daxqfyc.png")), root_path, class: "img-fluid flex-center", id:"lion-logo", rel: "gallery", onclick:"loadContent(1)" %>
        </div>


      <!--/. Logo -->

      <!--Search Form-->
      <li>
        <%= form_tag search_games_path, method: :get, class: "search-form" do %>
          <div class="form-group md-form mt-0 pt-1 waves-light">
            <%= text_field_tag :search, params[:search], class: "form-control white-text", placeholder: "Search" %>
          </div>
        <% end %>
      </li>
      <!--/.Search Form-->

      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header waves-effect arrow-r indie-font"><i class="fas fa-gamepad"></i> Games<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                    <li><a href="/games" class="waves-effect">Games</a>
                    </li>
                    <%# if can? :create, @game %>
                      <li>
                        <a href="/games/new" class="waves-effect">New Game</a>
                      </li>
                    <%# end %>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect arrow-r indie-font"><i class="fas fa-eye"></i> Browse<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                    <li>
                      <%# Category.all.each do |category| %>
                        <%#= link_to category.name, games_path(category: category.name), class: "dropdown-item" %>
                      <%# end %>
                    </li>
                    <%# if can? :create, @category %>
                      <li>
                        <%#= link_to 'New Category', new_category_path %>
                      </li>
                    <%# end %>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect arrow-r indie-font"><i class="fas fa-camera-retro"></i> Gallery<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                    <li><a href="/pages/gallery" class="waves-effect">Image Gallery</a>
                    </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect arrow-r indie-font"><i class="fas fa-eye"></i> Settings<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                  <li>
                    <a href="/pages/about" class="waves-effect">About Me</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect arrow-r indie-font"><i class="fas fa-question"></i> Help<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                  <li>
                    <a href="#" class="waves-effect">FAQ</a>
                  </li>
                  <li>
                    <a href="#" class="waves-effect">Write a message</a>
                  </li>
                </ul>
              </div>
            </li>
        </ul>
      </li>
      <!-- Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>
  <!--/. Sidebar navigation -->
  <!-- Navbar -->
  <nav class="navbar fixed-top black navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
    <!-- SideNav slide-out button -->
    <div class="float-left">
      <a href="#" data-activates="slide-out" class="button-collapse">
        <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion-btn.png?raw=true" style="width:80px;">
      </a>
    </div>
    <!-- Breadcrumb-->
    <div class="breadcrumb-dn mr-auto">
      <a href="/" class="navbar-brand text-center white-text" style="font-family: 'Bubblegum Sans', cursive;', font-size:2em !important;">Retro Jamz</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%#= form_tag search_games_path, method: :get, class: "search-form center" do %>
          <div class="form-group md-form mt-0 pt-1 waves-light">
            <div class="btn-group">
              <%#= text_field_tag :search, params[:search], class: "form-control white-text indie-font", placeholder: "Search" %>
              <%#= submit_tag " ", name: nil do %>
              <%#= image_tag("http://files.softicons.com/download/system-icons/purplesilver-icons-by-kidaubis/png/256/Search.png") %>
                <%# end %>
            </div>
          </div>
        <%# end %>
      </li>
    </ul>
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item">
        <a href="/games" class="nav-link">
          <i class="fas fa-gamepad"></i>
          <span class="clearfix d-none d-sm-inline-block indie-font">Games</span></a>
      </li>
      <li class="nav-item">
        <a href="/posts" class="nav-link">
          <i class="fas fa-comments"></i>
          <span class="clearfix d-none d-sm-inline-block indie-font">Chat</span></a>
      </li>
      <li class="nav-item">
        <a href="/pages/gallery" class="nav-link">
          <i class="fas fa-camera-retro"></i>
          <span class="clearfix d-none d-sm-inline-block indie-font">Gallery</span></a>
      </li>
      <li class="nav-item">
        <a href="/pages/gallery" class="nav-link">
          <i class="fas fa-cogs"></i>
          <span class="clearfix d-none d-sm-inline-block indie-font">Settings</span></a>
      </li>
      <li class="nav-item">
        <a href="/pages/about" class="nav-link">
          <i class="fas fa-id-card"></i>
          <span class="clearfix d-none d-sm-inline-block indie-font">About</span></a>
      </li>
      <% if current_user %>
      <li class="nav-item">
        <%#= current_user.first_name %>
        <%= link_to gravatar_for(current_user), edit_user_registration_path, size: 20, :class => 'gravatar nav-link' %>
        <span class="clearfix d-none d-sm-inline-block"></span>
      </li>
      <li class="nav-item">
        <a class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out">
          <i class="fas fa-sign-out-alt"></i>
          <span class="hidden-sm-down indie-font">Sign Out</span>
        </a>
      </li>

        <% else %>
          <li class="nav-item">
            <a href="/users/sign_up" class="nav-link">
              <i class="fas fa-user-plus"></i>
              <span class="clearfix d-none d-sm-inline-block indie-font">Sign Up</span></a>
          </li>
          <li class="nav-item">
            <a href="/users/sign_in" class="nav-link">
              <i class="fas fa-sign-in-alt"></i>
              <span class="clearfix d-none d-sm-inline-block indie-font">Sign In</span></a>
          </li>
        <% end %>
      </ul>
    </nav>
    <!-- /.Navbar -->

  </header>
  <!--/.Double navigation-->

  <!-- Sidebar navigation -->
  <div id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar">
    <ul class="custom-scrollbar">
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light" style="height:170px !important;">
          <%= link_to (image_tag("https://pre00.deviantart.net/d9e5/th/pre/i/2017/034/0/5/commission__megaman_neo_by_ultimatemaverickx-daxqfyc.png")), root_path, class: "img-fluid flex-center", id:"lion-logo", rel: "gallery", onclick:"loadContent(1)" %>
        </div>


      <!--/. Logo -->

      <!--Search Form-->
      <li>
        <%= form_tag search_games_path, method: :get, class: "search-form" do %>
          <div class="form-group md-form mt-0 pt-1 waves-light">
            <%= text_field_tag :search, params[:search], class: "form-control white-text", placeholder: "Search" %>
          </div>
        <% end %>
      </li>
      <!--/.Search Form-->

      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header waves-effect arrow-r indie-font"><i class="fas fa-gamepad"></i> Games<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                    <li><a href="/games" class="waves-effect">Games</a>
                    </li>
                    <%# if can? :create, @game %>
                      <li>
                        <a href="/games/new" class="waves-effect">New Game</a>
                      </li>
                    <%# end %>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect arrow-r indie-font"><i class="fas fa-eye"></i> Browse<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                    <li>
                      <%# Category.all.each do |category| %>
                        <%#= link_to category.name, games_path(category: category.name), class: "dropdown-item" %>
                      <%# end %>
                    </li>
                    <%# if can? :create, @category %>
                      <li>
                        <%#= link_to 'New Category', new_category_path %>
                      </li>
                    <%# end %>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect arrow-r indie-font"><i class="fas fa-camera-retro"></i> Gallery<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                    <li><a href="/pages/gallery" class="waves-effect">Image Gallery</a>
                    </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect arrow-r indie-font"><i class="fas fa-eye"></i> Settings<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                  <li>
                    <a href="/pages/about" class="waves-effect">About Me</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect arrow-r indie-font"><i class="fas fa-question"></i> Help<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                  <li>
                    <a href="#" class="waves-effect">FAQ</a>
                  </li>
                  <li>
                    <a href="#" class="waves-effect">Write a message</a>
                  </li>
                </ul>
              </div>
            </li>
        </ul>
      </li>
      <!-- Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>
  <!--/. Sidebar navigation -->
