<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Retro Jamz" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Retrojamz" %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="ha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="fixed-sn black-skin">
    <header>
      <%= render 'layouts/nav' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

    <!-- Menu Toggle Script -->
 <script>
    // SideNav Initialization
    $(".button-collapse").sideNav();
</script>

<!-- Menu Toggle Script -->
<script>
  $("#left-menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("left-toggled");
  });

  $("#right-menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("right-toggled");
  });
</script>

<!-- JQuery -->
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/bootstrap.min.js"></script>
<!-- Tooltips -->
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/popper.min.js"></script>
<!-- MDB -->
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/mdb.min.js"></script>
<!-- Raty -->
<script type="text/plain" src="https://raw.githubusercontent.com/wbotelhos/raty/master/lib/jquery.raty.js"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
  </body>
</html>
